$white: #fff;
$blue: #f9d9f9;
$grey: #eee;
$darkgrey: #e4e4e4;


#calendar {

	.timeOfDay {
		height: 720px;
		text-align: right;
		display: inline-block;
		padding-right: 10px;

		ul {
			li {
				list-style: none;
				padding-bottom: 14.8px;

				&.topOfHour {
					font-size: 14px;
					font-weight: 400;
				}

				&.halfHour {
					font-size: 10px;
				}

				& span.halfHour {
					font-size: 10px;
					padding-left: 3px;
				}
			}
		}
	}

	.container {
		width: 600px;
		height: 720px;
		background-color: $grey;
		padding-left: 10px;
		padding-right: 10px;
		display: inline-block;

		.timeBlock {
			background-color: $white; 
		}
	}
}



