
/* Common colors */
$white: #fff;
$blue: #4c6ea8;
$grey: #ebebeb;
$lightgrey: #d4d4d4;
$mediumgrey: #b8b8b8;
$darkgrey: #787878;


#calendar {
	font-family: "Lucida Grande", Geneva, sans-serif;

	.time-of-day {
		height: 720px;
		text-align: right;
		display: inline-block;
		padding-right: 10px;

		ul {
			li {
				list-style: none;
				padding-bottom: 14.8px;

				&.top-of-hour {
					color: $darkgrey;
					font-size: 15px;
					font-weight: 400;
				}

				&.half-hour {
					color: $mediumgrey;
					font-size: 10px;
				}

				& span.half-hour {
					color: $mediumgrey;
					font-size: 10px;
					padding-left: 5px;
				}
			}
		}
	}

	.container {
		width: 600px;
		height: 720px;
		background-color: $grey;
		padding-left: 10px;
		padding-right: 10px;
		display: inline-block;
		border-left: 1px solid $lightgrey;

		.time-block {
			background-color: $white;
			border: 1px solid $lightgrey;
			border-left: 4px solid $blue;
		}

		.sample-item {
			color: $blue;
			font-size: 14px;
			display: block;
			padding-left: 10px;
			padding-top: 10px;
		}

		.sample-location {
			color: $mediumgrey;
			font-size: 10px;
			padding-left: 10px;
			padding-top: 10px;
		}
	}
}
